.App {
  min-height: 100vh;
}

.App h2 {
  margin-top: 0;
  color: #2c3e50;
}

.App button:hover {
  opacity: 0.8;
}

.App button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.App .header-title {
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
}

.header {
  background-color: #127405;
  color: white;
  height: 48px;
  margin-bottom: 20px;
}

.header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header nav .btn {
  color: white;
  text-decoration: none;
}

.header nav .btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.App .container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.user-login {
  margin-right: 12px; 
}